$primary: #018786;
$secondary: #0784c3;
$dark: #1D1D1D;
$success: #21BA45;
$danger: #B00020;
$info: rgba(#000, .12);
$warning: #FFA337;
$light: #EFF4F6;
$secondary-opacity: #F2FAFA;
$secondary-100: #C8FFF4;
$secondary-200: #03DAC5;
$secondary-300: #00C4B4;
$secondary-400: #00B3A6;
$secondary-500: #01A299;
$secondary-600: #019592;
$secondary-700: #018786;
$secondary-800: #017374;
$white: #fff;
$black: #000;
$grey-100: #EFF4F6;
$grey-200: #ECEFF0;
$grey-300: #E0E0E0;
$grey-400: #DEE8EB;
$grey-500: #FBFBFB;
$grey-700: #212121;
$grey-800: #9E9E9E;
$grey-900: #EFF4F7;
$scrollbar-width: 5px;
